$bg-primary : #222429;
$bg-secondary : #ffaa17;
$bg-success : #28a745;
$bg-danger : #dc3545;
$bg-warning : #ffc107;
$bg-info : #17a2b8;
$bg-light : #f8f9fa;
$bg-dark : #343a40;
$bg-white : #ffffff;
$bg-transparent : transparent;

$white : #ffffff;


.primary-font{
    font-family: "Teko", sans-serif;
}
.color-white{
    color: #fff;
}